.ProjectNamesContainer {
    height: 600px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ProjectNames {
    min-height: 100px;
    text-align: center;
    font-size: 24px;
}

.GeneratorOptions {
    float: left;
    display: inline;
    background: gold;
    padding: 8px;
}

.GeneratorOptions label {
    margin-right: 10px;
}
